################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Server/.vs/
/Server/App/obj
/Server/App/bin/
/Server/Model/obj
/Server/Model/bin/
/Server/TestApp/obj
/Server/TestApp/bin/
/ThirdParty/Google.Protobuf/obj
/Tools/.vs
/Tools/Proto2CS/.vs
/Tools/Proto2CS/bin
/Tools/Proto2CS/obj
/ThirdParty/Google.Protobuf/bin
/Bin/netcoreapp2.2
/ThirdParty/MongoDBDriver/MongoDB.Bson/bin
/ThirdParty/MongoDBDriver/MongoDB.Bson/obj
/ThirdParty/MongoDBDriver/MongoDB.Driver/obj
/ThirdParty/MongoDBDriver/MongoDB.Driver/bin
/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj
/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/bin
/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj
/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/bin
/ThirdParty/MongoDBDriver/MongoDB.Driver.Legacy/obj
/ThirdParty/MongoDBDriver/MongoDB.Driver.Legacy/bin
