################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Server/.vs/RDServer/v15/Server/sqlite3/storage.ide-wal
/Server/.vs/RDServer/v15/Server/sqlite3/storage.ide-shm
/Server/.vs/RDServer/v15/Server/sqlite3/storage.ide
/Server/.vs/RDServer/v15/Server/sqlite3/db.lock
/.vs/slnx.sqlite
/Server/App/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Server/App/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Server/App/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Server/App/obj/Release/netcoreapp2.2/App.csprojAssemblyReference.cache
/Server/App/obj/Release/netcoreapp2.2/App.csproj.CoreCompileInputs.cache
/Server/App/obj/Release/netcoreapp2.2/App.assets.cache
/Server/App/obj/Release/netcoreapp2.2/App.AssemblyInfoInputs.cache
/Server/App/obj/Release/netcoreapp2.2/App.AssemblyInfo.cs
/Server/App/obj/project.assets.json
/Server/App/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Server/App/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Server/App/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Server/App/obj/Debug/netcoreapp2.2/App.pdb
/Server/App/obj/Debug/netcoreapp2.2/App.dll
/Server/App/obj/Debug/netcoreapp2.2/App.csprojAssemblyReference.cache
/Server/App/obj/Debug/netcoreapp2.2/App.csproj.FileListAbsolute.txt
/Server/App/obj/Debug/netcoreapp2.2/App.csproj.CoreCompileInputs.cache
/Server/App/obj/Debug/netcoreapp2.2/App.csproj.CopyComplete
/Server/App/obj/Debug/netcoreapp2.2/App.assets.cache
/Server/App/obj/Debug/netcoreapp2.2/App.AssemblyInfoInputs.cache
/Server/App/obj/Debug/netcoreapp2.2/App.AssemblyInfo.cs
/Server/App/obj/App.csproj.nuget.g.targets
/Server/App/obj/App.csproj.nuget.g.props
/Server/App/obj/App.csproj.nuget.cache
/Server/App/bin/Debug/netcoreapp2.2/Protocol.pdb
/Server/App/bin/Debug/netcoreapp2.2/Protocol.dll
/Server/App/bin/Debug/netcoreapp2.2/NLog.config
/Server/App/bin/Debug/netcoreapp2.2/Model.pdb
/Server/App/bin/Debug/netcoreapp2.2/Model.dll
/Server/App/bin/Debug/netcoreapp2.2/Google.Protobuf.xml
/Server/App/bin/Debug/netcoreapp2.2/Google.Protobuf.pdb
/Server/App/bin/Debug/netcoreapp2.2/Google.Protobuf.dll
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07023.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07022.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07021.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07020.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07019.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07018.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07017.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07016.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07015.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07014.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07013.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07012.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07011.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07010.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07009.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07008.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07007.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07006.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07005.txt
/Server/App/bin/Debug/netcoreapp2.2/archives/log.07004.txt
/Server/App/bin/Debug/netcoreapp2.2/App.runtimeconfig.json
/Server/App/bin/Debug/netcoreapp2.2/App.runtimeconfig.dev.json
/Server/App/bin/Debug/netcoreapp2.2/App.pdb
/Server/App/bin/Debug/netcoreapp2.2/App.dll
/Server/App/bin/Debug/netcoreapp2.2/App.deps.json
/Server/App/bin/Debug/Logs/Gate_1001.log.now
/Server/App/bin/Debug/Archives/2019-03-29/Gate_1001..log
/Server/App/bin/Debug/Archives/2019-03-29/Gate_1001..1.log
/Server/Model/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Server/Model/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Server/Model/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Server/Model/obj/Release/netcoreapp2.2/Model.csprojAssemblyReference.cache
/Server/Model/obj/Release/netcoreapp2.2/Model.csproj.CoreCompileInputs.cache
/Server/Model/obj/Release/netcoreapp2.2/Model.assets.cache
/Server/Model/obj/Release/netcoreapp2.2/Model.AssemblyInfoInputs.cache
/Server/Model/obj/Release/netcoreapp2.2/Model.AssemblyInfo.cs
/Server/Model/obj/project.assets.json
/Server/Model/obj/Model.csproj.nuget.g.targets
/Server/Model/obj/Model.csproj.nuget.g.props
/Server/Model/obj/Model.csproj.nuget.cache
/Server/Model/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Server/Model/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Server/Model/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Server/Model/obj/Debug/netcoreapp2.2/Model.pdb
/Server/Model/obj/Debug/netcoreapp2.2/Model.dll
/Server/Model/obj/Debug/netcoreapp2.2/Model.csprojAssemblyReference.cache
/Server/Model/obj/Debug/netcoreapp2.2/Model.csproj.FileListAbsolute.txt
/Server/Model/obj/Debug/netcoreapp2.2/Model.csproj.CoreCompileInputs.cache
/Server/Model/obj/Debug/netcoreapp2.2/Model.assets.cache
/Server/Model/obj/Debug/netcoreapp2.2/Model.AssemblyInfoInputs.cache
/Server/Model/obj/Debug/netcoreapp2.2/Model.AssemblyInfo.cs
